<footer class="footer">
    <p>
        除非另有说明：文章与图片采用
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.zh" rel="license noopener" target="_blank">CC
            BY-NC-SA 4.0</a>
        许可；文中示例代码采用
        <a href="https://opensource.org/licenses/MIT" rel="license noopener" target="_blank">MIT</a>
        许可。
    </p>
    <p>
        © <span data-year-range></span> 慢变量. All rights reserved.
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" class="cc-license"
            style="display: inline-block; vertical-align: middle; margin-left: 8px;" rel="license noopener"
            target="_blank">
            <img src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" alt="CC BY-NC-SA"
                style="border: 0; vertical-align: middle;">
        </a>
    </p>
</footer>